<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>swift core</string>
	<key>CFBundleDisplayName</key>
	<string>swift core</string>
	<key>CFBundleExecutable</key>
	<string>swiftcore</string>
	<key>CFBundleGetInfoString</key>
	<string>swift project - free and open source pilot client</string>
	<key>CFBundleIconFile</key>
	<string>swiftcore.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.swift-project.swiftcore</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>This application needs access to your Microphone for VATSIM Voice.</string>
</dict>
</plist>
