QFrame {
    margin: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0px;
}

/** frameless is dynamic property**/
QDockWidget[frameless="true"] QFrame {
    background-color: darkslategray;
}
