QFrame {
  margin: 0px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 0px;
}

/** frameless is dynamic property**/
/** for frameless only use QDockWidget[frameless="true"] QFrame **/
QDockWidget QFrame
 {
  background-color: darkslategray;
  background-image: url(:/textures/icons/textures/texture-outer.jpg);
  border: 0px;
}
