#fr_NavigatorDockWidgetInner[framelessDockWidget="true"] {
  margin: 0px;
  padding: 3px;
  border: 2px solid green;
  border-radius: 10px;
}

#fr_NavigatorDockWidgetInner QToolButton {
  margin: 0px;
}
