/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

QDialog {
  background: black; /** background is background color here **/
  background-image: url(:/textures/icons/textures/texture-inner.jpg);
}

QPushButton {
  background-color: rgba(0, 0, 255, 128);
  border-style: none;
  border-radius:3px;
  color: yellow;
  padding: 3px;
  margin-right: 5px;
}
