/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

QWidget {
    color: #e0e6f0;
    font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: bold;
}
