/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

QWidget {
    color: white;
    font-family: "Arial";
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
}
