/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

QDialog {
  background: lightgrey;
}

/*
#fr_NavigatorDialogInner[navigatorFrameless="true"] {}
#fr_NavigatorDialogInner[navigatorFrameless="false"] {}
*/

#fr_NavigatorDialogInner QToolButton {
  margin: 0px;
}
