# MSVC generated precompiled sources
pch.h.cpp

# QtCreator project files
/swift.pro.user

# Out-of-source build tree
/build*/

# Visual Studio stuff
/.vs/

# Qt Creator
*.autosave

# Mac OS X stuff
.DS_Store

# Windows stuff
Thumbs.db
desktop.ini

# Editors temporary files 
*~

# qmake
/.qmake.stash

# Generated installers
/swiftinstaller-*.run
/swiftinstaller-*.exe
/swiftinstaller-*.dmg
/swiftsymbols-*.tar.gz
/xswiftbus-*.7z

# Python
/scripts/**/*.pyc
/scripts/**/__pycache__

# VATSIM key
/vatsim.json
