# SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
# SPDX-License-Identifier: CC0-1.0

[submodule "src/xswiftbus/xplanemp2"]
	path = src/xswiftbus/xplanemp2
	url = git@github.com:swift-project/xplanemp2.git
