[submodule "externals"]
	path = externals
	url = ssh://git@dev.swift-project.org/source/externals.git
[submodule "src/xswiftbus/libxplanemp"]
	path = src/xswiftbus/libxplanemp
	url = ssh://git@dev.swift-project.org/source/libxplanemp.git
