[submodule "externals"]
	path = externals
	url = git@github.com:swift-project/externals.git
[submodule "src/xswiftbus/libxplanemp"]
	path = src/xswiftbus/libxplanemp
	url = git@github.com:swift-project/libxplanemp.git
