# MSVC generated precompiled sources
pch.h.cpp

# QtCreator project files
/swift.pro.user
/swift.pro.user.*

# Out-of-source build tree
/build*/

# Visual Studio stuff
/.vs/
/.vscode/

# MS tools
/config.log

# Qt Creator
*.autosave

# Mac OS X stuff
.DS_Store

# Windows stuff
Thumbs.db
desktop.ini

# Editors temporary files 
*~

# qmake
/.qmake.stash
/.qmake.cache

# Generated installers
/swiftinstaller-*.run
/swiftinstaller-*.exe
/swiftinstaller-*.dmg
/swiftsymbols-*.tar.gz
/xswiftbus-*.7z

# Python
/scripts/**/*.pyc
/scripts/**/__pycache__

# VATSIM key
/vatsim.json

# other
/swift_config.cookie

# Jetbrains stuff
.idea/**
cmake-build-*/

# Install folders
out/
dist/
