QDialog {
  background: lightgrey;
}

/*
#fr_NavigatorDialogInner[navigatorFrameless="true"] {}
#fr_NavigatorDialogInner[navigatorFrameless="false"] {}
*/

#fr_NavigatorDialogInner QToolButton {
  margin: 0px;
}
