@charset "utf-8";

body {
	font: 95% Verdana, Arial, Helvetica, sans-serif;
	overflow: inherit;
	min-width: 768px;
	min-height: 400px;
	margin: 0;
	/* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	/* text-align: center; this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

h1 {
  font-weight: bold;
  font-size: 1.25em;
}

h2 {
  font-weight: bold;
  font-size: 1.10em;
}

iframe {
	border: 0;
}

pre {
	border-radius: 10px;
	border: 2px solid blue;
	background-color: lightgrey;
	padding: 15px;
	font: 100% Courier;
	
}

th {
	text-align: left;
	background-color: lightgray;
}