QFrame {
    margin: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0px;
}

/** mainframeless dynamic property**/
QDockWidget[mainframeless="true"] QFrame {
	background-color: darkslategray;
}